go 1.23

use (
	./pkg/core
	./pkg/domain
	./pkg/impl/commandrunner
	./pkg/impl/physicaldriveresolver
	./pkg/impl/raidcontroller/megaraid
	./pkg/impl/raidcontroller/rhel8
	./pkg/impl/raidcontroller/rhel8/logicalvolumegetter
	./pkg/impl/raidcontroller/rhel8/logicalvolumemanager
	./pkg/impl/raidcontroller/smartarray
)
